<div class="error-content">
  <div class="row" style="padding-top: 200px;">
    <div class="col-12 ">
      <div class="error-text">
        <h1 class="error">404 Error</h1>
        <div class="im-sheep">
          <img src="assets/images/logo.png" />
        </div>
        <h4>Oops! Ah ocurrido un problema!</h4>
        <p>Lo sentimos, inténtelo nuevamente, en caso contrario, contacte con el administrador.</p>
        <a routerLink="/home" class="btn btn-primary btn-round">Ir a principal</a>
      </div>
    </div>
  </div>
</div>
