:host {
  width: 800px;
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header2 {
}

.com-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.com-header > * {
  padding-left: 5px;
  padding-right: 5px;
}

.com-body {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
}
