<div style=" width: 100%; display: flex; justify-content: center; padding-bottom: 50px;">
  <mat-icon fontSet="material-icons-outlined">motion_photos_paused</mat-icon>
</div>
<div class="header1">¿Ponerse activo nuevamente?</div>
<div class="header2">
  En el caso de que necesite tomar una pausa, pulse el botón de pausa de lo contrario en {{countCownText}} recibir&aacute; la próxima alerta
</div>
<div class="footer1 f-center">
  <gq-button type="stroked-button" label="Tomar Pausa" (click)="onAceptar()"></gq-button>
  <gq-button type="button-form" label="Iniciar" (click)="onCancel()"></gq-button>
</div>
